@model IEnumerable<EntityLayer.ServiceProviderEntity>
@{
    ViewBag.Title = "AdminDashBoard";
    Layout = null;    
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="icon" type="image/png" sizes="16x16" href="~/assets/images/favicon.png">
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Dashboard - API Dashboard</title>
    <link href="~/css/styles.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" rel="stylesheet" crossorigin="anonymous" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/all.min.js" crossorigin="anonymous"></script>
</head>
<body class="sb-nav-fixed">
    <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
        <a class="navbar-brand" href="#"><img src="~/assets/images/logo-white.png"></a>
        <!-- Navbar Search-->
        <div class="ml-auto"></div>
        <!-- Navbar-->
        <ul class="navbar-nav ml-auto ml-md-0">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="userDropdown" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                    <a class="dropdown-item" href="Index">@Html.ActionLink("Settings", "AdminSettings", "Home", new { @class = "dropdown-item" })</a>
                    <a class="dropdown-item" href="Index">@Html.ActionLink("Update Profile", "UpdateUserProfile", "Home", new { @class = "dropdown-item" })</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="Index">@Html.ActionLink("Logout", "Logout", "Home", new { @class = "dropdown-item" })</a>
                </div>
            </li>
        </ul>
    </nav>
    <div id="layoutSidenav">
        <div id="layoutSidenav_content">
            <main>
                <div class="container-fluid api-dashboard">
                    <h3 class="mt-4 text-center"><img src="~/assets/images/excel-icon.png"> &nbsp;Upload Data</h3>
                    @using (Html.BeginForm("UploadExcel", "Home", FormMethod.Post, new { @enctype = "multipart/form-data" }))
                    {
                        if (TempData["Message"] != null)
                        {
                            <div class="alert alert-success alert-dismissible fade show" role="alert">
                                <img src="~/assets/images/checkmark.png"> @Html.Raw(TempData["Message"])
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        }
                        @*<form method="get" action="upload-confirmation.html">*@
                        <div class="row mt-4">
                            <div class="col-md-1"></div>
                            <div class="col-md-10">
                                <div class="upload-box">
                                    <div class="row ml-4 mr-4">
                                        <div class="col-sm-12 col-md-12 col-lg-5 text-left">
                                            <div class="alert alert-success pt-4 pl-4" role="alert" style="border-radius: 0;">
                                                <span style="font-weight: bold;">Steps to upload file:</span>
                                                <ol>
                                                    <li>Please download excel template <b><a href="~/ExcelTemplates/ProviderDataUploadTemplate.xlsx" class="txt1">Download</a></b></li>
                                                    <li>Please fill data in same excel file</li>
                                                    <li>Click on choose file</li>
                                                    <li>Select that excel file (.xls and .xlsx only)</li>
                                                    <li>Click on upload button</li>
                                                </ol>
                                            </div>
                                        </div>
                                        <div class="col-sm-12 col-md-12 col-lg-7">
                                            <div class="form-group">
                                                <label for="csvUploadFile">
                                                    <img src="~/assets/images/upload-icon.png">
                                                    <div class="mt-2"><span>Drop Excel, CSV files or click here.</span></div>
                                                    <input type="file" class="form-control-file" id="csvUploadFile" name="FileUpload">
                                                </label>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <hr>
                                <div class="row csvupload-form">
                                    <div class="col-12 text-right">
                                        <button type="reset" class="btn btn-light">Cancel</button>
                                        <button type="submit" class="btn btn-green" id="fileUploadExcel">Upload <img src="~/assets/images/upload-icon-white.png"></button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-1"></div>
                        </div>
                        @*</form>*@
                    }
                </div>
            </main>
        </div>
    </div>
    <div class="container-fluid footer-section">
        <p>Copyright © CBRE | Facility Source 2020</p>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script src="~/js/scripts.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
    <script src="~/assets/demo/chart-area-demo.js"></script>
    <script src="~/assets/demo/chart-bar-demo.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js" crossorigin="anonymous"></script>
    <script src="~/assets/demo/datatables-demo.js"></script>
    <script>
        var acc = document.getElementsByClassName("accordion-api");
        var i;

        for (i = 0; i < acc.length; i++) {
            acc[i].addEventListener("click", function () {
                this.classList.toggle("active-api");
                var panel = this.nextElementSibling;
                if (panel.style.maxHeight) {
                    panel.style.maxHeight = null;
                } else {
                    panel.style.maxHeight = panel.scrollHeight + "px";
                }
            });
        }
    </script>
    @*@{
            ViewBag.Title = "ExcelUpload";
        }
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
        <br />
        <div align="center">
            @if (ViewBag.Message != null)
            {
                <span class="success sweet-alert"> @ViewBag.Message</span>
            }
            <br />
            <div align="right" class="btn btn-default">

                    <input type="file" id="fileUpload" class="btn btn-primary" name="FileUpload" /><br />
                    <input type="submit" class="btn btn-primary" name="UploadNewEmployee" id="fileUploadExcel" value="Upload New Employee Details" />
                }
            </div>


        </div>*@
    <link href="~/Scripts/sweetalert.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/sweetalert.js"></script>
    <script>

        $('#fileUploadExcel').click(function (e) {
            if ($('#csvUploadFile').val() === "") {
                sweetAlert("Oops...!!!", "Please select file", "error");
                return false;
            }


        });

    </script>
</body>
</html>
